.ItemNameCellContainer {
    padding: 0  !important;
    position: sticky;
    left: 0;
    background-color: #ffffff;    
    padding: 8px  !important;
}

.ValueCellContainer {
    /* padding: 0  !important; */
    background-color: white;    
    padding: 8px  !important;
}

.NameCell {
    padding: 16px;
}

.ValueCell {
    padding: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.ValueCell:hover {
    background-color: #c7e7ff;
}

.ValueModal {
    padding: 8px;
}

.ValueModalContent {
    padding: 16px;
}