.StickyItemCaption {
    position: sticky;
    left: 0;
    min-width: 80px;
    background-color: aliceblue;
}

.ItemCaption {
    text-align: center !important;
    min-width: 80px;
}

.ValueCell {
    cursor: pointer;
    text-align: right !important;
}

.ValueCell:hover {
    background-color: WhiteSmoke;
    border-radius: 12px;
}

