.Cell {
    padding: 6px;
    min-width: 60px;
    text-align: right;
    cursor: default;
    background-color: white;
    border-bottom: 1px solid #dde3ea;
    padding: 16px 16px 16px 0px;
}

.ValueCell {
    /* padding: 6px; */
    width: 120px;
    text-align: right;
    cursor: default;
    border-bottom: 1px solid #dde3ea;
    padding: 16px 0px 16px 0px;
    /* padding: 16px 0px 16px 0px; */
}

.ValueCell:hover {
    /* border-radius: 4px; */
}

.Value {

    /* width: 90%; */
    /* height: 90%; */
}

.Value:hover {
    background-color: #c7e7ff;
}

.MonthCaption {
    font-weight: bold;
    width: 120px;
    text-align: center;
    cursor: default;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 16px 0px 16px 0px;
    border-bottom: 1px solid #dde3ea;
    /* vertical-align: middle; */
}

.ItemNameCaption {
    font-weight: bold;
    position: sticky;
    left: 0;
    top: 0;
    
}

.ItemNameColumn {
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 1;
}

.TableContainer {
    /* display: grid;
    grid-template-columns: auto 1fr; */
    width: 100%;
    height: 100%;
    overflow: auto;
}



.BodyContainer {
    /* display: grid; */
    /* grid-template-rows: auto 1fr; */
}

.TableBody {
}

/* .TableContainer {
    overflow-x: auto;
}

.TableBody {
    height: 100%;
    overflow-y: auto;
} */

