/* .Container {
    padding: 20px;
} */

.ValueEditContainer {

}

.ValueEditRow {
    
    display: flex;
    gap: 4px;
}

.ValueEditColumn {
    display: flex;
    align-items: center;
    padding: 6px;
    /* flex: 1;  */
}

.ValueEditColumn.flex2 {
    /* flex: 2;  */
}

.ValueEditField {

    /* width: 120px; */
}

@scope(.ValueEditRow) {


    

    .ValueField1 {
        width: 30%;   
    }

    .ValueField2 {
        width: 40%;   
    }

    .ValueField3 {
        width: 30%;   
    }

}