/* .Container {
    padding: 20px;
} */

.ValueEditContainer {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ValueEditRow {
    display: flex;
    gap: 12px;

    .Name {
        width: 120px;
        display: flex;
        align-items: center;
    }

    .Type {
        width: 120px;
    }

    .Label {
        display: flex;
        align-items: center;
        width: 10px;
    }

    .Total {
        display: flex;
        align-items: center;
    }

    .UnitPrice {
        display: flex;
        align-items: center;
        width: 120px;
    }

    .ActualSpace {
        width: calc(120px + 10px + 12px);
    }

    .Value {
        width: 80px;
    }
}

@scope(.ValueEditRow) {


}